body {
    background: rgb(238, 238, 238);
    text-align: center;
}

li {
    background: white;
    padding: 6px;
    border: 2px solid black;
    display: inline-block;
    vertical-align: middle;
    margin: 7px;
}

.resize-img img {
    width: 300px;
}