body {
    background: rgb(238, 238, 238);
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
}

header {
    border-bottom: 2px solid #000;
    padding: 2rem;
}

main {
    padding: 2rem;
}

.site-title {
    font-size: 2rem;
    text-transform: uppercase;
}

footer {
    background: rgb(102, 102, 102);
    color: rgb(255, 255, 255);
    padding: 1rem;
    margin-top: auto;
}