@import url('https://use.fontawesome.com/releases/v5.3.1/css/all.css');

body {
    padding: 5em;
}

p {
    width: 95px;
    padding: 12px;
}

a {
    text-decoration: none;
    color: white;
}

p:first-child {
    background-color: rgb(0, 128, 0);
    border-radius: 2px;
}

p:nth-child(2) {
    background-color: rgb(255, 140, 0);
}