body {
    padding: 5rem;
    background: rgb(238, 238, 238);
}

.card {
    background:  rgb(255, 255, 255);
    border-radius: 0.3rem;
    overflow: hidden;
    max-width: 28%;
    box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card .media {
    position: relative;
    overflow: hidden;
}

.card .media:after {
    display: block;
    content: '';
    padding-top: 56.25%;
}

.card .media img {
    display: block;
    position: absolute;
    left: 0; top: 0;
    width: 100%;
    height: auto;
}

.card .content {
    padding: 2rem;
    overflow: hidden;
}

.card .content h3 {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0 0 0.4rem 0;
}

.card .content a.button {
    display: block;
    background: rgb(0, 153, 0);
    color: rgb(255, 255, 255);
    border: 0.2rem;
    padding: 0.5rem 1rem;
    text-decoration: none;
    float: right;
}